<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/icons/site-icon.png')}}">
    {% include 'include/styles.html' %}
    <title>uSell</title>
</head>
<body>
    {% include 'include/navigation.html' %}
    <main>
        <section class="fees-content">
            <h2>Fees</h2>
            <p class="fees-p">
                There are no monthly costs associated with uSell.
                <br>
                <br>
                Each transaction has a standard Stripe 2.9% + 30¢ fee.
                <br>
                <br>
                uSell is free to use.
                <br>
                <br>

                For more information visit
                <br> 
                <a href="#">https://stripe.com/pricing</a>
            </p>
        </section>
    </main>
    {% include 'include/footer.html' %}
</body>
</html>